main {
    width: 85mm;
    height: 55mm;
    padding: 8px 10px;
    background: #111;
    border: 2px solid #7b5cff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    font-family: "Segoe UI", Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
}

header .info {
    text-align: left;
    width: fit-content;
}

.screen {
    width: 11mm;
    height: auto;
    margin-right: 9mm;
    border-radius: 50%;
    box-shadow: 0 0 25px #7b5cff;
}

header h1 {
    margin: 0;
    font-size: 1.2em;
    color: #7b5cff;
}

header p {
    margin: 2px 0 0 0;
    font-size: 0.9em;
    color: #bbb;
}

figure {
    margin: 0;
}

figure img {
    width: 22mm;
    height: 22mm;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 8px #7b5cff;
}

figcaption {
    font-size: 0.6em;
    color: #aaa;
    text-align: center;
    margin-top: 2px;
}

section {
    margin-top: 0px;
}

h2 {
    font-size: 0.9em;
    color: #7b5cff;
    margin: 1px 0;
}

p,
li {
    font-size: 0.75em;
    line-height: 1.2;
    color: #ddd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.activite {
    margin-top: 4px;
    margin-bottom: 2px;
}

.activite-p {
    font-size: 0.75em;
    line-height: 1.2;
    color: #ddd;
    padding: 0px;
    margin: 0px;
}